@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  background-color: #ffccff;
  background-color: hsl(220deg 100% 80%);
}

.atm {
  font-family: "Roboto", sans-serif;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 50px;
  max-width: 800px;
  max-height: 800px;
  margin: 150px auto;
  padding: 15px 30px;
  box-shadow: 1px 2px 2px hsl(220deg 60% 50% / 0.2),
    2px 4px 4px hsl(220deg 60% 50% / 0.2), 4px 8px 8px hsl(220deg 60% 50% / 0.2),
    8px 16px 16px hsl(220deg 60% 50% / 0.2),
    16px 32px 32px hsl(220deg 60% 50% / 0.2);
  border-radius: 8px;
  background-color: #ffffff;

  &__info {
    margin-top: 30px;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }

  &__header {
    margin-bottom: 15px;
    text-align: center;
  }

  &__limits {
    max-width: 300px;
  }

  &__result {
    max-width: 300px;
  }

  &__main {
    max-width: 204px;
    display: grid;
    gap: 15px;
  }

  &__error {
    color: red;
    text-align: center;
  }
}
